body {
            text-align: center;
            font-family: Arial, sans-serif;
            background-color: #333;
        }

        img {
            border-radius: 50%;
            width: 200px;
        }

        header, section, footer {
            margin: 20px auto;
            padding: 10px;
            max-width: 600px;
        }

        h1, h2 {
            color: #333;
        }

        p {
            color: #555;
            line-height: 1.5;
        }
